@import 'scss/reset.scss';
@import 'scss/base.scss';

body {
  font-family: 'Helvetica';
  display: flex;
  justify-content: center;
}

.btn-burger {
  $size: 50px;

  height: $size;
  width: $size;

  background: rgba(red, 0.1);
  position: relative;

  $offsetY: 7px;

  .bar {
    position: absolute;
    left: 0;

    width: 100%;
    height: 3px;
    background: #000;

    transition: transform 0.8s ease;

    &.bar--1 {
      transform: translate3d(0, -$offsetY, 0);
    }

    &.bar--2 {
      transform: translate3d(0, $offsetY, 0);
    }
  }

  &:hover {
    .bar--1 {
      transform: translate3d(0, -$offsetY, 0) rotate(-180deg);
    }

    .bar--2 {
      transform: translate3d(0, $offsetY, 0) rotate(-180deg);
    }

    &.active {
      .bar--1 {
        transform: translate3d(0, calc(2 * #{$offsetY}), 0) rotate(-495deg);
      }

      .bar--2 {
        transform: translate3d(0, calc(2 * #{$offsetY}), 0) rotate(-45deg);
      }
    }
  }

  &.active {
    .bar {
      transition: transform 0.6s ease;
    }
    .bar--1 {
      transform: translate3d(0, calc(2 * #{$offsetY}), 0) rotate(-675deg);
    }

    .bar--2 {
      transform: translate3d(0, calc(2 * #{$offsetY}), 0) rotate(-225deg);
    }
  }
}
