@import 'scss/reset.scss';
@import 'scss/base.scss';

body {
  font-family: 'Helvetica';
  display: flex;
  justify-content: center;
}

.btn-burger {
  $size: 50px;

  height: $size;
  width: $size;

  background: rgba(red, 0.1);
  position: relative;

  $offsetY: 7px;

  .bar {
    position: absolute;
    left: 0;

    width: 100%;
    height: 3px;
    background: #000;

    transition: transform 1s ease;

    &.bar--1 {
      transform: translateY(-$offsetY);
    }

    &.bar--2 {
      transform: translateY($offsetY);
    }
  }

  &:hover {
    .bar--1 {
      transform: translateY(-$offsetY) rotate(-180deg);
    }

    .bar--2 {
      transform: translateY($offsetY) rotate(-180deg);
    }
  }
}
